.rowContainer {
  display: flex;
  flex-direction: row;
  gap: 15px;
  overflow-y: hidden;
  overflow-x: scroll;
  margin-bottom: 10px;
  height: 220px;
  align-items: center;
}

.rowContainer::-webkit-scrollbar {
  display: none;
}

.rowImage {
  height: 200px;
  object-fit: cover;
}

.rowImage1 {
  height: 170px;
}

.rowImage:hover,
.rowImage1:hover {
  transition: 1s;
  transform: scale(1.1);
}

.card-title {
  margin: 0 0 10px 10px;
  color: white;
}
