.navbarContainer {
  position: fixed;
  height: 60px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  z-index: 999;
}

.nav-color {
  background-color: rgba(0, 0, 0, 0.849);
}

.userWrap {
  display: flex;
  flex-direction: row;
  gap: 14px;
  margin-right: 20px;
}

.navLogo {
  height: 30px;
  display: flex;
  align-items: center;
  margin-left: 20px;
}

.userLogo {
  height: 30px;
  display: flex;
  align-items: center;
}
